
body{
    font-family:sans-serif ;
    margin: 0;
}


/* Centering top part of the slider */
.slider{
    padding-left: 15vw;
    padding-right: 15vw;
    margin-left: auto;
    margin-right: auto;
}


/* Setting slider background image */
.slider_image{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    top:0;
    left: 0;
    filter: brightness(65%);
}


/* Nav top and title colors and placement */
.nav_top{
    display: flex;
    align-items: center;
    height: 8vh;
    justify-content: space-between;
}
.nav_top > .nav_title{
    margin:0;
    color: white;
    font-size: 2rem;
}



/* Top nav bar icons. Colors and placement */
.icon_nav_bar{
    height: 3vh;
    width: auto;
    fill: white;
}
.icon_container{
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr 0.5fr 1fr;
    justify-content: space-around;
}
.icon_container > .search{
    grid-column: 3/4;
}
.icon_container > .cart{
    grid-column: 5/6;
}



/* Nav bottom part placement */
.nav_bottom{
    display: flex;
    width: 35vw;
    align-items: center;
    justify-content: space-between;
    color: white;
}


/* Nav bar fade transition form background to white */
.slider{
    transition: 0.3s;
}
.slider:hover{
    background-color: white;
    transition: 0.3s;
    color: black;
}
.slider:hover .to_black{
    color: black;
}
.slider:hover .icon_nav_bar{
    fill: black;
}
nav{
    transition: 0.3s;
}

/* Formating bottom nav */
.shop, .bestseller, .build, .lookbook, .sale{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.chevron_down{
    height:2.3vh;
}



/* Underline animation */
/* Animation with pseudo elements. Doesnt worki with relative positin */
/* .shop, .bestseller, .build, .lookbook, .sale{
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}
 .shop::after, .bestseller::after, .build::after,
  .lookbook::after, .sale::after{
    content: '';
    position: absolute;
    bottom:16px;
    left: 0;
    width: 0%;
    height: 1px;
    background-color: white;
    transition: all 200ms ease-in-out;
}
.shop:hover::after{
    width: 65%;
}
.bestseller:hover::after{
    width: 75%
}
.build:hover::after, .lookbook:hover::after, .sale:hover::after{
    width: 100%;
} */

/* Underline animation with background image */
.underline_text{
    background-image: linear-gradient(0.25turn, black ,black);
    background-size: 0% 1px;
    background-repeat:no-repeat;
    background-position: left bottom;
    transition: background-size 300ms ease;
}
.underline_text:hover{
    background-size: 100% 1px;
    cursor: pointer;
}


/* Home image and chevron colors and placement*/
.nav_bottom > img{
    height:3vh;
    width: auto;
    filter: invert(1);

}


/* Dropdown menu animation with hower */
.dropdown_menu{
    /* display: none; */
    position: absolute;
    top: 120px;
    left: 0;
    width: 100vw;
    height: 87vh; 
    background-color: white;
}


/* Dropdown menu content design and pplacement */
.shop_list > *{
    line-height: 2.3rem;
}
.collections{
    margin-top: 10vh;
}
.shop:hover .dropdown_menu{
    display: block;
}
.dropdown_menu_content{
    width: 70vw;
    margin-left: 15vw;
    color: black;
    border: 2px solid black
}
.dropdown_menu_content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.trending_img{
    width: 22vw;
    height: auto;
    margin-top:3vh;
    transition: 0.3s;
}
.trending_img:hover{
    scale: 1.05;
    overflow: hidden;
    transition: 0.3s;
}











/* Dropdown menu formating */
ul{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 0.8vh;
}
li{
    /* line-height: 1.5rem; */
    width: fit-content;
    height: 28px;
    margin-bottom: 8px;
}
h4, h3{
    margin-bottom: 0;
    margin-top: 3vh;
    width: fit-content;
}



/* @media only screen and (max-width:600px) {
    .nav_bottom_opt{
        border: 2px solid blue;}
} */

/* @media only screen and (max-width:960px){
    .nav_bottom_opt{
        border: 2px solid blue;
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
        width: 65vw;
        justify-content: space-evenly;
        margin-right: auto;
        margin-left: auto;
    }
} */