
body{
    font-family:sans-serif ;
    margin: 0;
    overflow-x: hidden;
}
main{
}


/* Centering top part of the slider */
.slider{
    padding-left: min(500px);
    padding-left: max(15vw);

    padding-right: 15vw;
    margin-left: auto;
    margin-right: auto;
}


/* Setting slider background image */
.slider_image{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    top:0;
    left: 0;
    filter: brightness(65%);
}


/* Nav top and title colors and placement */
.nav_top{
    display: flex;
    align-items: center;
    height: 8vh;
    justify-content: space-between;
}
.nav_top > .nav_title{
    margin:0;
    color: white;
    font-size: 2rem;
}


/* Top nav bar icons. Colors and placement */
.icon_nav_bar{
    height: 3vh;
    width: auto;
    fill: white;
}
.checkbox{
    display: none;
    position: absolute;
    top: 0;
}

.icon_container{
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr;
    justify-content: space-around;
    width: 14vw;
    justify-items: center;
}
.icon_container > .search_menu{
    grid-column: 3/4;
    cursor: pointer;
}
.icon_container > .cart{
    grid-column: 5/6;
}
.icon_container > .menu{
    grid-column: 7/8 ;
    display: none;
}
.search_window{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 25vw;
    height: 100vh;
    position: absolute;
    /* border:5px solid green; */
    top: 0;
    right: 0;
    transform: translateX(30vw);
    transition: transform 0.3s ease-in-out;
}
.search_win_top{
    display: flex;
    height: 9vh;
    align-items: center;
    justify-content: space-between;
    width: 21vw;
    padding-left: 2vw;
    padding-right: 2vw;
    border-bottom: 1px solid grey;
    border-bottom: 1px solid grey;
}
.search_win_top > h4{
    margin-top: 0;
    margin-bottom: 0;
}
.close{
    height: 3vh;
    width: auto;
    fill: black;
    cursor: pointer;
}
.search_input{
    display: flex;
    justify-content: center;
    position: relative;
    height: 4vh;
    width: 19vw;
    margin-left:auto;
    margin-right: auto;
    margin-top: 3vh;
    border: 1px solid grey;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
}

.search_input:focus{
    outline:none;
    box-shadow: 0 0 10px grey;
    transition: 0.2s ease-in-out;
}
input:checked + .search_window{
    transform: translateX(0);
}
input:checked + main{
    background-color: black;
}


/* Nav bottom part placement */
.nav_bottom{
    display: flex;
    width: 45vw;
    align-items: center;
    justify-content: space-between;
    color: white;
}


/* Nav bar fade transition form background to white */
@media only screen and (min-width:960px){
.slider{
    transition: 0.3s;
}
.slider:hover{
    background-color: white;
    transition: 0.3s;
    color: black;
}
.slider:hover .to_black{
    color: black;
}
.slider:hover .icon_nav_bar{
    fill: black;
}
nav{
    transition: 0.3s;
}

/* Formating bottom nav */
.shop, .bestseller, .build, .lookbook, .sale{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.chevron_down{
    height:2.3vh;
}}




/* Underline animation */
/* Animation with pseudo elements. Doesnt worki with relative positin */
/* .shop, .bestseller, .build, .lookbook, .sale{
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}
 .shop::after, .bestseller::after, .build::after,
  .lookbook::after, .sale::after{
    content: '';
    position: absolute;
    bottom:16px;
    left: 0;
    width: 0%;
    height: 1px;
    background-color: white;
    transition: all 200ms ease-in-out;
}
.shop:hover::after{
    width: 65%;
}
.bestseller:hover::after{
    width: 75%
}
.build:hover::after, .lookbook:hover::after, .sale:hover::after{
    width: 100%;
} */

/* Underline animation with background image */
.underline_text{
    background-image: linear-gradient(0.25turn, black ,black);
    background-size: 0% 1px;
    background-repeat:no-repeat;
    background-position: left bottom;
    transition: background-size 300ms ease;
}
.underline_text:hover{
    background-size: 100% 1px;
    cursor: pointer;
}


/* Home image and chevron colors and placement*/
.nav_bottom > img{
    height:3vh;
    width: auto;
    filter: invert(1);

}


/* Dropdown menu animation with hower */
@keyframes fadeOut{
    0% {opacity: 1;}
    100% {opacity: 0;}
}
@keyframes fadeIn{
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.dropdown_menu{
    display: none;
    opacity: 0;
    position: absolute;
    top: 120px;
    left: 0;
    width: 100vw;
    height: 86.5vh; 
    transition: transform 2s ease-in-out;
    background-color: white;
    animation: fadeOut 0.3s;
    overflow: hidden;
}
.shop:hover .dropdown_menu{
    display: block;
    opacity: 100%;
    animation: fadeIn 0.3s;
}


/* Dropdown menu content design and pplacement */
.shop_list > *{
    line-height: 2.3rem;
}
.collections{
    margin-top: 10vh;
}

.dropdown_menu_content{
    width: 70vw;
    margin-left: 15vw;
    color: black;
    /* border: 2px solid black */
}
.dropdown_menu_content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

/* First image in shop dropdown */
.trending_selection, .bestseller_selection{
    margin-top: 2vh;
    height: fit-content;
}
.trending_img, .bestseller_img{
    width: 22vw;
    height: auto;
    transition: 0.3s;
    overflow: hidden;
    /* border:2px solid black */
}

.trending_img:hover, .bestseller_img:hover{
    scale: 1.05;
    overflow: hidden;
    transition: 0.3s;
}
.trending_img_border, .bestseller_img_border{
    height: fit-content;
    width: fit-content;
    overflow: hidden;
    /* border:2px solid rgb(209, 33, 33); */
}
.trending_selection h4{
    text-decoration: underline;
    padding: 0;
    margin: 0;
}
.trending_selection p{
    padding: 0;
    margin: 30px 5px 0 0;
}

/* Second image in shop dropdown menu */

.bestseller_selection h4{
    text-decoration: underline;
    padding: 0;
    margin: 0;
}
.bestseller_selection p{
    padding: 0;
    margin: 30px 5px 0 0;
}


/* Dropdown menu formating */
ul{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 0.8vh;
}
li{
    /* line-height: 1.5rem; */
    width: fit-content;
    height: 28px;
    margin-bottom: 8px;
}
h4, h3{
    margin-bottom: 0;
    margin-top: 3vh;
    width: fit-content;
}





@media only screen and (max-width:960px){
    .nav_bottom{
        display: none;
    }
    .slider{
        padding-left: 5vw;
        padding-right: 5vw;
    }
    .icon_container > .menu{
        grid-column: 7/8 ;
        display: inline-block;
    }
    
}