
body{
    font-family:sans-serif ;
    margin: 0;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.title_screen{
    height: 14vh;
    width: 100vw;
}

.nav_container{
    width: 100vw;
    display: flex;
    justify-content: center;
}

/* Setting slider background image */
.slider_image{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    top:0;
    left: 0;
    filter: brightness(65%);
}
nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 70vw;
}



/* Nav top and title colors and placement */
.nav_top{
    display: flex;
    align-items: center;
    height: 8vh;
    justify-content: space-between;
    width: 70vw;
}
.nav_top > .nav_title{
    margin:0;
    color: white;
    font-size: 2rem;
}


/* Top nav bar icons. Colors and placement */
.icon_nav_bar{
    height: 3vh;
    width: auto;
    fill: white;
}
.checkbox{
    display: none;
    position: absolute;
    top: 0;
}
.icon_container{
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr;
    justify-content: space-around;
    width: 14vw;
    justify-items: center;
}
.icon_container > .search_menu, .shopping_cart{
    grid-column: 3/4;
    cursor: pointer;
}
.icon_container > .shopping_cart{
    grid-column: 5/6;
    cursor: pointer;
}
.icon_container > .menu{
    grid-column: 7/8 ;
    display: none;
}


/* Search and cart pop-out menus */
/* SEARCH MENU */
.search_window, .shopping_cart_menu{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 25vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(30vw);
    transition: transform 0.3s ease-in-out;
}
.search_win_top> h4{
    margin-top: 0;
    margin-bottom: 0;
}
.shopping_cart_bot > p{
    padding-left: 2vw;
    margin-top:3vh;
}
input:checked + .search_window{
    transform: translateX(0);
}
.search_win_top, .shopping_cart_top{
    display: flex;
    height: 9vh;
    align-items: center;
    justify-content: space-between;
    width: 21vw;
    padding-left: 2vw;
    padding-right: 2vw;
    border-bottom: 1px solid grey;
    border-bottom: 1px solid grey;
}
.search_input{
    display: flex;
    justify-content: center;
    position: relative;
    height: 4vh;
    width: 19vw;
    margin-left:auto;
    margin-right: auto;
    margin-top: 3vh;
    border: 1px solid grey;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
}
.search_input:focus{
    outline:none;
    box-shadow: 0 0 10px grey;
    transition: 0.2s ease-in-out;
}
/* SHOPPING CART MENU */
input:checked + .shopping_cart_menu{
    transform: translateX(0);
}
.shopping_cart_top > h4{
    margin-top: 0;
    margin-bottom: 0;
}
.shopping_cart_bot{
    display: flex;
    flex-direction: column;
}
.browsing_button{
    margin-top: 2vh;
    display: flex;
    width: fit-content;
    height: 5vh;
    margin-left: auto;
    margin-right: auto;
    width: 21vw;
    border-radius:6vh;
    background-color: black;
    cursor: pointer;
}
.browsing_button > p{
    margin-left: auto;
    margin-right: auto;
    color: white;
}
.close{
    height: 3vh;
    width: auto;
    fill: black;
    cursor: pointer;
}





/* Nav bottom part placement */
.nav_bottom{
    display: flex;
    width: 38vw;
    align-items: center;
    justify-content: space-between;
    color: white;
}


/* Nav bar fade transition form background to white */
@media only screen and (min-width:960px){
.nav_container{
    transition: 0.3s;
}
.nav_container:hover{
    background-color: white;
    transition: 0.3s;
    color: black;
}
.nav_container:hover .to_black{
    color: black;
}
.nav_container:hover .icon_nav_bar{
    fill: black;
}
nav{
    transition: 0.3s;
}

/* Formating bottom nav */
.shop, .bestseller, .build, .lookbook, .sale{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.chevron_down{
    height:2.3vh;
}}




/* Underline animation */
/* Animation with pseudo elements. Doesnt worki with relative positin */
/* .shop, .bestseller, .build, .lookbook, .sale{
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}
 .shop::after, .bestseller::after, .build::after,
  .lookbook::after, .sale::after{
    content: '';
    position: absolute;
    bottom:16px;
    left: 0;
    width: 0%;
    height: 1px;
    background-color: white;
    transition: all 200ms ease-in-out;
}
.shop:hover::after{
    width: 65%;
}
.bestseller:hover::after{
    width: 75%
}
.build:hover::after, .lookbook:hover::after, .sale:hover::after{
    width: 100%;
} */

/* Underline animation with background image */
.underline_text{
    background-image: linear-gradient(0.25turn, black ,black);
    background-size: 0% 1px;
    background-repeat:no-repeat;
    background-position: left bottom;
    transition: background-size 300ms ease;
}
.underline_text:hover{
    background-size: 100% 1px;
    cursor: pointer;
}


/* Home image and chevron colors and placement*/
.nav_bottom > img{
    height:3vh;
    width: auto;
    filter: invert(1);

}

/* Dropdown menu animation with hower. SHOP */
@keyframes fadeOut{
    0% {opacity: 1;}
    100% {opacity: 0;}
}
@keyframes fadeIn{
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.dropdown_menu_shop{
    display: none;
    opacity: 0;
    position: absolute;
    top: 120px;
    left: 0;
    width: 100vw;
    height: 86.5vh;
    transition: transform 2s ease-in-out;
    background-color: white;
    animation: fadeOut 0.3s;
    overflow: hidden;
}
.shop:hover .dropdown_menu_shop{
    display: block;
    opacity: 100%;
    animation: fadeIn 0.3s;
}
.dropdown_menu_bestseller{
    display: none;
    opacity: 60%;
    position: absolute;
    top: 120px;
    left: 0;
    width: 100vw;
    height: 55vh;
    transition: transform 2s ease-in-out;
    background-color: white;
    animation: fadeOut 0.3s;
    overflow: hidden;
}
.bestseller:hover .dropdown_menu_bestseller{
    display: block;
    opacity: 100%;
    animation: fadeIn 0.3s;
}

.bestseller_items{
    width: 70vw;
    /* border:2px solid black; */
    height: fit-content;
    margin-top: 4vh;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap:2vw;
    overflow: hidden;
}

.bestseller_1{
    width: 11vw;
    height: auto;
}
.cross_out{
    color: grey;
    text-decoration: line-through;
}
.underline_text_cont{
    text-decoration: none;
    background-image: linear-gradient(black, black);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 0% 1px;
    transition: background-size 0.2s ease-in-out;
    font-weight: 700;
}
.bestseller_item{
    width: 10vw;
    color: black;
}
.bestseller_item:hover .underline_text_cont{
    background-size: 100% 1px;
    color: inherit;
}
.bestseller_item:hover img{
    position: relative;
    top: -15px;
}
.more_products{
    width: 15vw;
    height: 5vh;
    border-radius: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border: 1px solid grey;
    margin-left: 15vw;
    margin-top: 5vh;
}



/* Dropdown menu content design and placement. SHOP */
.shop_list > *{
    line-height: 2.3rem;
}
.collections{
    margin-top: 10vh;
}
.dropdown_menu_content{
    width: 70vw;
    margin-left: 15vw;
    color: black;
    /* border: 2px solid black */
}
.dropdown_menu_content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
/* First image in shop dropdown */
.trending_selection, .bestseller_selection{
    margin-top: 2vh;
    height: fit-content;
}
.trending_img, .bestseller_img{
    width: 22vw;
    height: auto;
    transition: 0.3s;
    overflow: hidden;
}
.trending_img:hover, .bestseller_img:hover{
    scale: 1.05;
    overflow: hidden;
    transition: 0.3s;
}
.trending_img_border, .bestseller_img_border{
    height: fit-content;
    width: fit-content;
    overflow: hidden;
}
.trending_selection h4{
    text-decoration: underline;
    padding: 0;
    margin: 0;
}
.trending_selection p{
    padding: 0;
    margin: 30px 5px 0 0;
}
/* Second image in shop dropdown menu */
.bestseller_selection h4{
    text-decoration: underline;
    padding: 0;
    margin: 0;
}
.bestseller_selection p{
    padding: 0;
    margin: 30px 5px 0 0;
}
/* Dropdown menu formating */
ul{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 0.8vh;
}
li{
    /* line-height: 1.5rem; */
    width: fit-content;
    height: 28px;
    margin-bottom: 8px;
}
h4, h3{
    margin-bottom: 0;
    margin-top: 3vh;
    width: fit-content;
}

/* Box of text on title screen */
.placeholder_txt{
    margin-top: 50vh;
    top:50vh;
    height: 30vh;
    width: 30vw;
    color: white;
    left:0;
}
.placeholder_txt > .txt_small{
    font-size: 18px;
    font-weight: 100;
}
.placeholder_txt > .txt_big > p{
    font-size: 80px;
    margin: 0;
    margin-top: 30px;
}
.show_more{
    height:5vh ;
    width: 10vw;
    background-color: white;
    color: black;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    cursor: pointer;
}



/* Next page. Kit up top */
.kit_up{
    margin-top: 15vh;
    margin-bottom: 12vh;
    display: flex;
    height: fit-content;
    justify-content: center;
}
.kit_up_content{
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.kit_up_top{
    display: flex;
    gap: 50px;
    align-items: center;
}
.first_p{
    font-size: 27px;
    border-right: 1px solid grey;
    padding-right:2vw ;
}
.second_p{
    color: grey;
}



/* Kit up bottom */
.kit_up_bottom{
    display: flex;
    gap: 2vw;
}
.kit_img{
    width: 22vw;
    height: 70vh;
    overflow: hidden;
    border-radius: 1rem;
}
.kit_img > img{
    height: 50vh;
    width: 22vw;
    object-fit: cover;
    border: none;
    margin:0;
    padding: 0;
}
.img_title{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 0;
    margin:0;
    border: none;
    position: relative;
    top:-4px;
    height: 22vh;
    width: 22vw;
    background-color: rgb(29, 23, 23)
}
.kit_img:hover img{
    position: relative;
    top: -10px;
}
.kit_img:hover .img_title{
    position: relative;
    top: -20px;
}
.img_title > h5{
    margin-top: 3vh;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 200;
}
.img_title > p {
    font-size: 35px;
    margin:0
}
.learn_more{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.5vh;
    width: 8vw;
    border: 1px solid white;
    border-radius: 2rem;
    color: white;
}


























